<!DOCTYPE html>
<html>
    <head>
        <title>Movie Database</title>
    </head>
    <body>
        <h1>Welcome to Movie Database</h1>

        <nav>
            <a href="/movies/add">Add New Movie</a> |
            <a href="/movies">View All Movies</a>
        </nav>

        <p>This is the home page for our movie database project.</p>
    </body>
</html>
