<%- include('partials/header', {title: 'Register'}) %>

<main class="container auth-form">
    <h1>Register</h1>
    <% if (errors && errors.length > 0) { %>
        <div class="error-messages">
            <% errors.forEach(err => { %>
                <p><%= err %></p>
            <% }) %>
        </div>
    <% } %>

    <form action="/register" method="POST">
        <div class="form-row">
            <label for="email">Email:</label>
            <input type="text" name="email">
        </div>

        <div class="form-row">
            <label>Password:</label>
            <input type="password" name="password">
        </div>

        <button type="submit">Register</button>
    </form>
    <br>
    <p class="auth-link">
        <a href="/login">Already have an account?</a>
    </p>
</main>

<%- include('partials/footer') %>
