body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

.navbar {
    background-color: #111827;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar nav a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 0.95rem;
}

.navbar nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    background-color: #1f2937;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.container h1{
    margin-top: 0;
    /*text-decoration: underline;*/
    text-align: center;
}

.container h2 {
    margin-top: 0;
}

.container a {
    color: #38bdf8;
}

.container a:hover {
    text-decoration: underline;
}

/* for log-in & register pages*/
.auth-form {
    text-align: center;
}

.auth-form h1{
    text-decoration: none;
}

.auth-form form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.auth-link{
    margin-top: 1rem;
    text-align: center;
}

.form-row {
    margin-bottom: 1rem;
}

.form-row label {
    display: block;
    margin-bottom: 0.25rem;
    text-align: left;
}

.form-row input {
    width: 100%;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: 1px solid #4b5563;
    background-color: #111827;
    color: #e5e7eb;
}

button {
    padding: 0.4rem 0.9rem;
    border: none;
    border-radius: 4px;
    background-color: #38bdf8;
    color: #0f172a;
    cursor: pointer;
}

button:hover {
    background-color: #0ea5e9;
}

.auth-link {
    margin-top: 1rem;
    text-align: center;
}

.error-messages p {
    color: #fca5a5;
    margin: 0.25rem 0;
}

.movie-form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.movie.list {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
}

.margin-list li{
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #374151;
    line-height: 1.6;
}

.movie-list li:last-child{
    border-bottom: none;
}

.movie-form textarea{
    width: 100%;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: 1px solid #4b5563;
    background-color: #111827;
    color: #e5e7eb;
    height: 120px;
}

.movie-form button{
    display: block;
    margin: 1rem auto 0;
}